# CONFIGURACIÓN GENERAL
DOCKER=0

# BASES DE DATOS - POSTGRESQL
PGHOST=tu_host_aqui
PGDATABASE=tu_nombre_de_base_de_datos_aqui
PGUSER=tu_usuario_de_base_de_datos_aqui
PGPASSWORD=tu_contraseña_de_base_de_datos_aqui

# CONFIGURACIÓN DE CORREO (SMTP)
EMAIL_HOST=tu_servidor_smtp_aqui
EMAIL_PORT=tu_puerto_smtp_aqui
EMAIL_USER=tu_correo_de_envio_aqui
EMAIL_PASSWORD=tu_contraseña_de_aplicacion_aqui

# CONFIGURACIÓN DE GEMINI - LLM
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
GEMINI_MODEL=nombre_del_modelo_gemini_aqui
PROMT_BASE="tu_prompt_base_de_instrucciones_aqui"
