<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - EcoEnergy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header>ECOENERGY</header>
    <div class="container">
        <div class="icono">💡</div>
        <h1>INICIAR SESIÓN</h1>
        <p>Inicia sesión para continuar</p>
        <form method="POST" action="{{ url_for('vista_usuarios.login') }}">
            <input type="email" name="correo" placeholder="TU@CORREO.COM" required>
            <input type="password" name="contraseña" placeholder="********" required>
            <button type="submit">Ingresar</button>
        </form>        
        <a href="{{ url_for('vista_usuarios.registro') }}">¿No tienes cuenta?</a>
        <a href="{{ url_for('vista_usuarios.recuperar') }}">¿Olvidaste tu contraseña?</a>        
    </div>
</body>
</html>
