<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - EcoEnergy</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <header>ECOENERGY</header>
    <div class="container">
        <div class="icono">💡</div>
        <h1>INICIAR SESIÓN</h1>
        <p>Inicia sesión para continuar</p>
        <form>
            <input type="email" placeholder="TU@CORREO.COM" required>
            <input type="password" placeholder="********" required>
            <button type="submit">Ingresar</button>
        </form>
        <a href="registro.html">¿No tienes cuenta?</a>
        <a href="recuperar.html">¿Olvidaste tu contraseña?</a>
    </div>
</body>
</html>
