<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña - EcoEnergy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header>ECOENERGY</header>
    <div class="container">
        <h1>¿Has olvidado la contraseña?</h1>
        <form method="POST" action="{{ url_for('vista_usuarios.recuperar') }}">
            <input type="email" name="correo" placeholder="TU@CORREO.COM" required>
            <input type="password" name="nueva_contraseña" placeholder="Nueva contraseña" required>
            <button type="submit">Recuperar</button>
        </form>
    </div>
</body>
</html>
