<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro - EcoEnergy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header>ECOENERGY</header>
    <div class="container">
        <h1>CREAR CUENTA</h1>
        <form method="POST" action="{{ url_for('vista_usuarios.registro') }}">
            <input type="text" name="nombre" placeholder="Nombre completo" required>
            <input type="email" name="correo" placeholder="TU@CORREO.COM" required>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
        <a href="{{ url_for('vista_usuarios.login') }}">¿Ya tienes cuenta?</a>
    </div>
</body>
</html>
